*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bdy{
    background-color: rgb(12, 60, 92);
   
}

.bskt{
    height: 300px;
    overflow:auto;
    border: 1px solid rgba(22, 138, 216, 0.664);
    
}

.img{
    width: 50px;
    height: 50px;
}

.back{
    background-color: rgb(12, 60, 92); 
}
